/*Inserta tu Codigo Responsive*/
@media(min-width:376px) and ( max-width: 667px){
	.box1{
		margin-left: 20px;
	}
	.sidebar-closed #sidebar {
    margin-left: -210px;
}
	.box0 p{
	display: none !important;
 	}
 	.photo img{
		width: 100% !important;
		margin-left: 23px;
	}
}

@
@media(min-width:1024px) and ( max-width: 1600px){
	
}
@media (min-width: 1200px){
		.col-lg-4 {
    	width: 33.33333333%;
}
}
@media (min-width: 320px) and (max-width: 375px) {

}
@media(min-width:667px) and ( max-width: 1024px){
	.sidebar-closed #sidebar {
	    margin-left: -211px;
	}
	.photo img{
		width: 100% !important;
		margin-left: 69px;
	}
}
@media(min-width:1024px) and ( max-width: 1600px){
	
}